* {
    box-sizing: border-box;
    /* Content, Padding und Border werden bei der Breitenberechnung berücksichtigt  */
}

html, body {
    margin: 0;
    padding: 0;
}

#logo {
    height: 60%;
}

#checkout-link {
    color: inherit;
    text-decoration: inherit;
    display: block;
    height: 100%;
}

nav {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    height: 100px;
    width: 100%;
}

#warenkorb {
    height: 60%;
}

#produkteContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.produktDiv {
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 300px;
     background-color: #e0dae7; 
    padding: 10px;

    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */

}

.produktBild {
    height: 200px; 
    margin: 10px 0;
}

.statusBild{
    height: 30px;
    margin-top: 5px;
}

.produktName{
   font-size: larger;
   font-style: bold; 
}

.warenkorbButton{
    margin-top: 10px;
}