* {
    box-sizing: border-box;
    /* Content, Padding und Border werden bei der Breitenberechnung berücksichtigt  */
}

html, body {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    background-color: #e0dae7;
}

#logo {
    height: 90%;
}

.reservierteProdukte{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: left;
}

.produktDiv {
    display: flex;
    margin: 10px;
    flex-direction: row;
    padding: 10px;
    justify-content: space-evenly;
    /* align horizontal */
    align-items: center;
    /* align vertical */
    border: double;
}

.produktBild {
    height: 200px;
    margin: 10px 0;
    object-fit: contain;
}

/* Responsive */

/* Smartphone */
@media (max-width: 599px){
    #logo{
        height: 70%;
    }

    .produktDiv{
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        border: none;
    }
    
    .gebuehrenDiv{
        margin-bottom: 20px;
    }
    .produktName{
        order: -1;
    }

}