#logo{
    height: 100%;
}

a{
    color: inherit;
    text-decoration: inherit;
    display: block;
}

nav{
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100%;
}

#warenkorb{
    height: 50px;
}