* {
    box-sizing: border-box;
    /* Content, Padding und Border werden bei der Breitenberechnung berücksichtigt  */
}

html, body {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    height: 100px;
    width: 100%;
}

#logo {
    height: 60%;
}