#logo{
    height: 10%;
    width: 10%;
    margin-top: -10px; 
}

a{
    color: inherit;
    text-decoration: inherit;
}

nav{
    display: flex;
    justify-content: space-between;
}

#warenkorb{
    height: 3%;
    width: 3%;
}