#startseite{
    width: 190px;
}

.reservierteProdukte{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.produktDiv {
    margin: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    border-radius: 24px 24px 24px 24px;
    width: 300px;
    border: double;
}

.produktBild {
    height: 200px;
    margin: 10px 0;
    object-fit: contain;
}

.studentenNameDiv{
    margin: 10px 0 12px 0;
}

/* Responsive */

/* Smartphone */
@media (max-width: 599px){
    #logo{
        height: 70%;
    }

    .produktDiv{
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }
    
    .gebuehrenDiv{
        margin-bottom: 20px;
    }
    .produktName{
        order: -1;
    }

}