#startseite-link {
    color: inherit;
    text-decoration: inherit;
    display: block;
    height: 100%;
}

.produktWarenkorb {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: left;
}

.produktDiv {
    display: flex;
    margin: 10px;
    flex-direction: row;
    padding: 10px;
    justify-content: space-around;
    /* align horizontal */
    align-items: center;
    /* align vertical */
    border: double;
}

.produktBild {
    height: 200px;
    margin: 10px 0;
    object-fit: contain;
}


/* Responsive */

/* Smartphone */
@media (max-width: 599px){
    #logo{
        height: 60%;
    }
    nav{
      flex-wrap: wrap;  
    }
    .produktDiv{
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }
    .gebuehrenDiv{
        margin-bottom: 20px;
    }
    .produktName{
        order: -1;
    }

}